[Desktop Entry]
Type=Application
Name=Radar
Comment=Screensaver effect: radar
Exec=idle preview radar
Icon=trance-radar
Terminal=false
Categories=Screensaver;
